/* sharing common style */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 8px;
}
/* sharing heading style */
nav{
display: flex;
justify-content: space-around;
align-items: center;


}
.header-image{
    width: 500px;
    margin: 50px 200px 0 142px;

}
.header-heading{
    color: #272727;
    
    font-size: 80px;

    font-weight: 800;
 margin-right: 97px;}
 .header-content{
    margin-left: 50px;
    background: rgba(229, 84, 115, 0.10);
    
 }
.header-paragraph{
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;
margin-top: -40px;
}
.primary-button{
    color: #FFF;

font-size: 20px;

font-weight: 700;
border-radius: 8px;
background: #E55473;
margin-top: 10px;
}
/* sharing sc1 style */
.section1{
    text-align: center;
    margin-top: 100px;
}
.sc1-heading{
    color: #272727;
text-align: center;

font-size: 40px;

font-weight: 800;
}
.sc1-paragraph{
    color: #272727;
margin: 24px 563px 10px 563px;

}

